%nav.nav_main
  %ul
    %li
      %a{href: '/developer/'}
        Home
    %li
      %a{href: '/developer/services'}
        Services
    %li
      %a{href: '/developer/work/showcase'}
        Work Showcase
    %li
      %a{href: '/developer/contact'}
        Contact
