<div class='social'>
  <a href='https://m.vladalive.com' title='Blog at Medium' target='_blank'>
    <i class='fa fa-medium' aria-hidden='true'></i>
  </a>
  <a href='https://linkedin.com/in/vladalive' title='LinkedIn' target='_blank'>
    <i class='fa fa-linkedin' aria-hidden='true'></i>
  </a>
  <a href='https://twitter.com/vladalive' title='Twitter' target='_blank'>
    <i class='fa fa-twitter' aria-hidden='true'></i>
  </a>
  <a href='https://www.instagram.com/vlad_alive' title='Instagram' target='_blank'>
    <i class='fa fa-instagram' aria-hidden='true'></i>
  </a>
  <a href='https://www.facebook.com/vlad.alive' title='Facebook' target='_blank'>
    <i class='fa fa-facebook' aria-hidden='true'></i>
  </a>
  <a href='https://github.com/vladalive' title='Github' target='_blank'>
    <i class='fa fa-github' aria-hidden='true'></i>
  </a>
  <a href='https://www.quora.com/profile/Vlad-Alive' title='Quora' target='_blank'>
    <i class='fa fa-quora' aria-hidden='true'></i>
  </a>
  <a href='https://telegram.me/vladalive' title='Telegram' target='_blank'>
    <i class='fa fa-telegram' aria-hidden='true'></i>
  </a>
  <a href='skype:vlad.alive?chat' title='Skype' target='_blank'>
    <i class='fa fa-skype' aria-hidden='true'></i>
  </a>
  <a href='mailto:vladalive@gmail.com' title='Email' target='_blank'>
    <i class='fa fa-envelope-o' aria-hidden='true'></i>
  </a>
  <a href='https://goo.gl/forms/cfQXHh2SIfbDwWai2' title='Send Message' target='_blank'>
    <i class='fa fa-comments-o' aria-hidden='true'></i>
  </a>
</div>
