---
---

body
  color: #444

.inner
  width: auto
  margin: 0 2rem
  @media only screen and (min-width: 48em)
    width: 620px
    margin: 0 auto

h1
  margin-bottom: 1rem
  font-weight: bold
  font-size: 50px

h2
  font-size: 44px

h3
  font-size: 40px

a
  &:hover
    text-decoration: underline

ul
  li
    list-style-position: outside
    padding-left: 0rem
    margin-left: 1rem

header
  a.avatar
    float: left
    margin: 0 1rem 0 0
    img
      margin: 0
      width: 150px
      height: 150px
      border-radius: 5px
  h1
    margin: 0.5rem 0
    font-size: 72px
    a
      color: inherit
      &:hover
        text-decoration: none

nav.nav_main
  clear: both
  overflow: hidden
  font-size: 140%
  ul
    overflow: hidden
    margin: 0 0 0 -1px
    li
      list-style: none
      float: left
      margin: 0
      padding: 0
      border-left: #999 1px solid
      a
        display: block
        padding: 0.3rem 0.6rem
        background: #fff
        color: #333
        text-decoration: none
        text-shadow: none
        &:hover
          background: #333
          color: #fff

.social
  margin: -0.25rem 0 1rem
  font-size: 150%
  a
    margin-right: 0.25rem
    color: #555
    &:hover
      color: #d5000d
      text-decoration: none

#main_content
  font-size: 160%
