---
---

body
  color: #444

h1
  margin-bottom: 1rem
  font-weight: bold

a
  &:hover
    text-decoration: underline

ul
  li
    list-style-position: outside
    padding-left: 0rem
    margin-left: 1rem

header
  h1
    margin: 0
    a
      color: inherit

nav.nav_main
  overflow: hidden
  font-size: 120%
  ul
    overflow: hidden
    margin: 0 0 0 -1.51rem
    li
      list-style: none
      float: left
      margin: 0 0 0 0.75rem
      padding: 0 0 0 0.75rem
      border-left: #999 1px solid
      a
        color: #333
        &:hover
          color: #d5000d

.social
  float: right
  font-size: 120%
  margin: -3rem 0 0
  @media only screen and (max-width: 767px)
    float: none
    margin: -0.25rem 0 1rem
    font-size: 140%
  a
    margin-right: 0.25rem
    color: #555
    &:hover
      color: #d5000d
      text-decoration: none
