<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style2.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://use.fontawesome.com/c49c98123b.js"></script>
    {% seo %}
    {% include mixpanel.html %}
    {% comment %}{% include fullstory.html %}{% endcomment %}

  </head>

  <body>
    <div id="container">
      <div class="inner">
        <header>
          <a href="/" class='avatar'>
            <img src="/assets/images/vladalive.jpg" alt='Vlad Alive'/>
          </a>
          <h1><a href="/">Vlad Alive</a></h1>
          {% include social.html %}
        </header>

        {% include nav_main.html %}

        <hr>

        <section id="main_content">
          {{ content }}
        </section>

        <footer>
        </footer>

      </div>
    </div>

    {% include drip.html %}
    {% include ga.html %}
  </body>
</html>
